@model IEnumerable<AgendaMedica.Models.Atencion>

@if (TempData["Mensaje1"] != null)
{
    <script>
        alert("@TempData["Mensaje1"]");
    </script>
}

<h1>Atenciones</h1>

<div class="text-end">
    <p>
        <a asp-action="Create" class="btn btn-primary">Ingresar Atención</a>
    </p>
</div>

<table class="table">
    <thead class="table-success">
        <tr>
            <th>ID</th>
            <th>Atención</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdAte</td>
                <td>@item.NombreAte</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdAte"
                           class="btn btn-warning"><i class="bi bi-pencil-square"> </i>Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.IdAte"
                           class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</a>
                    </td>
             </tr>
        }
    </tbody>
</table>