@model IEnumerable<AgendaMedica.Models.Prevision>

@if (TempData["Mensaje1"] != null)
{
    <script>
        alert("@TempData["Mensaje1"]");
    </script>
}

<h1>Previsión</h1>

<div class="text-end">
    <p>
        <a asp-action="Create" class="btn btn-primary">Ingresar Previsión</a>
    </p>
</div>

<table class="table">
    <thead class="table-success">
        <tr>
            <th>ID</th>
            <th>Prevision</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdPrev</td>
                <td>@item.NombrePrev</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPrev"
                       class="btn btn-warning"><i class="bi bi-pencil-square"> </i>Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IdPrev"
                       class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>