@model IEnumerable<AgendaMedica.Models.Paciente>

<div class="text-end">
    <a asp-action="Create" class="btn btn-primary">Ingresar Paciente</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Rut</th>
            <th>Nombre Paciente</th>
            <th>Apellido Paciente</th>
            <th>Edad</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdPac</td>
                <td>@item.RutPac</td>
                <td>@item.NombrePac</td>
                <td>@item.ApellidosPac</td>
                <td>@item.EdadPac</td>
                <td>@item.FonoPac</td>
                <td>@item.DireccionPac</td>
                <td>@item.EmailPac</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPac"
                       class="btn btn-warning"><i class="bi bi-pencil-square"> </i>Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IdPac"
                       class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>