@model IEnumerable<AgendaMedica.Models.Usuario>

@if (TempData["Mensaje1"] != null)
{
    <script>
        alert("@TempData["Mensaje1"]");
    </script>
}

<h1>Usuarios</h1>

<div class="text-end">
  <p>
    <a asp-action="Create" class="btn btn-primary">Ingresar Usuario</a>
  </p>    
</div>

<table class="table">
    <thead class="table-success">
        <tr>
            <th>ID</th>
            <th>Nombre Usuario</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdUs</td>
                <td>@item.NombreUs</td>
                <td>@item.Usuario1</td>
                <td>@item.Clave</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUs"
                       class="btn btn-warning"><i class="bi bi-pencil-square"> </i>Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IdUs"
                       class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>